<!DOCTYPE html>
<html>
  <head>
    <title>Helper Methods Part 3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Bootstrap and FontAwesome -->
    <%= render partial: "shared/cdn_assets" %>

  </head>

  <body>
    <!-- Navbar with Bootstrap -->
    <%= render partial: "shared/navbar" %>


    <!-- Container for main content  -->
    <%= render partial: "shared/flash_messages" %>

      <%= yield %>
    </div>
  </body>
</html>
